body {
  margin: 0px;
  display: table;
  width: 100%;
  min-height: 100vh;
  font: sans-serif;
}

.box {
  display: table-cell;
  vertical-align: middle;
  width: auto;
}

#chat_box {
  background-color: black;
}

#game_box {
  background-color: #262626;
  width: 1024px;
  height: 100%;
}

#score_box {
  vertical-align: text-top;
  background-color: black;
  width: 200px;
  height: 100%;
  font: normal 14px sans-serif;
  color: #CCC;
  padding: 10px
}

#score_box #playerList {
  list-style-type: none;
  padding: 0;
}

#score_box h1 {
  text-align: center;
}

#score_box li:nth-child(1) {
  font-size: 26px;
}

#score_box li:nth-child(2) {
  font-size: 22px;
}

#score_box li:nth-child(3) {
  font-size: 18px;
}

#paper {
  background: url("/background.png");
}

#messagesList {
  overflow-y: auto;
  padding: 0;
  height: calc(100% - 135px);
  min-height: calc(100vh - 135px);
  max-height: calc(100vh - 135px);
}

#messagesList li {
  font-size: 20px;
  padding: 5px 10px;
  list-style-type: none;
}

form {
  margin: 0px;
  display: table;
  height: 100px;
  width: 100%;
  bottom: 0px;
}

form textarea {
  float: left;
  resize: none;
  height: 100%;
  width: calc(100% - 66px);
}

form button {
  float: right;
  height: 100%;
  width: 60px;
}
